body {
   background: #353f48;
   padding-top: 2em;
   font-family: 'Open Sans', sans-serif;
}

.user-box-title {

}

.user-box {
   min-height: 30em;
   padding: 1.2em;
   border-radius: 0.5em;
   background: white;
}

.chat-input {
   padding: 0.5em;
}

.chat-title {
   background: black;
   padding: 1em;
   color: white;
   border-top-left-radius: 0.6em;
   border-top-right-radius: 0.6em;
}
.chat-area {
   background: white;
   height: 30em;
   padding: 0.5em;
   border-bottom-left-radius: 0.6em;
   overflow-y: scroll;
}

.form-inline .form-control {
display: inline-block;
width: 90%;
vertical-align: middle;
}

.chat-btn {
   margin-top: 0.6em;
}

.user-chat {
   /*border-bottom: 5px solid #353f48;*/
   font-size: 0.9em;
   padding: 1em;
   font-weight: 600;
   vertical-align: middle;
   background: white;
   border-radius: 0.5em;
   color: #353f48;
}

.user-chat img {
   width: 3em;
   height: auto;
   float: left;
   margin: 0 1em;
}

message-author {
  font-size: 1.2em;
  color: blue;
}

message-time {
  color: #666;
  display: block;
}
